body {
  font: "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  top: 15%;
  background: linear-gradient(to right, red, yellow); /* Standard syntax */
}

h1 {
  font: 600 3.5em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  width: 100%;
}

h3 {
  font: 900 1em "Raleway", sans-serif;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  text-transform: none;
  letter-spacing: 0.01em;
}

#random{
     display:inline-block;
     padding:0.35em 1.2em;
     border:0.1em solid #FFFFFF;
     margin:0 0.3em 0.3em 0;
     border-radius:0.12em;
     box-sizing: border-box;
     text-decoration:none;
     font-family:'Roboto',sans-serif;
     font-weight:300;
     color:#FFFFFF;
     text-align:center;
     transition: all 0.2s;
    }
    #random:hover{
     color:#000000;
     background-color:#FFFFFF;
    }
    @media all and (max-width:30em){
     #random{
      display:block;
      margin:0.4em auto;
     }
    }